body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.gameTable {
    background: green;
    height: 750px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.dealer {
    background: aqua;
    padding: 25px;
    margin: 25px;
    width: 33%
}

.player {
    background: magenta;
    padding: 25px;
    margin: 25px;
    width: 33%
}

.player h1 {
    margin-top: 0px;
}

.dealer h1 {
    margin-top: 0px;
}

.hand {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    border: thin solid black;
    padding: 35px 25px; /* A standard playing card uses the ratio of 7 : 5 */
    background: white;

}

.card h3 {
    margin: 0;
    padding: 0;
}