body {
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
}

.gameTable {
    background: green;
}

.dealer {
    background: aqua;
}

.player {
    background: magenta;
}

.hand {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    border: thin solid black;
    padding: 70px 50px;
}